@import '~@fluentui/react/dist/sass/References.scss';

// .taxanomyEmployeeExample {
//   overflow: hidden;
//   padding: 1em;
//   color: "[theme:bodyText, default: #323130]";
//   color: var(--bodyText);
//   &.teams {
//     font-family: $ms-font-family-fallbacks;
//   }
// }

// .welcome {
//   text-align: center;
// }

// .welcomeImage {
//   width: 100%;
//   max-width: 420px;
// }

// .links {
//   a {
//     text-decoration: none;
//     color: "[theme:link, default:#03787c]";
//     color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

//     &:hover {
//       text-decoration: underline;
//       color: "[theme:linkHovered, default: #014446]";
//       color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
//     }
//   }
// }

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  max-width: 700px;
  min-height: 300px;
  padding: 20px;
  box-sizing: border-box;
}

.header {
  flex: 1 1 auto;
  border-top: 4px solid var(--themePrimary);
  color: var(--neutralPrimary);
  display: flex;
  align-items: center;
  font-weight: 600; /* semibold */
  font-size: 20px; /* xLargePlus equivalent */
  padding: 12px 12px 14px 24px;
}

.heading {
  color: var(--neutralPrimary);
  font-weight: 600; /* semibold */
  font-size: inherit;
  margin: 0;
}
.dropdown {
  width: 300px;
}

.stackRoot {
  width: 500px;
}

.columnRoot {
  width: 300px;
  gap:15px
}
.body {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 0 24px 24px 24px;
}
/* Icon Button */
.iconButton {
  color: var(--neutralPrimary);
  margin-left: auto;
  margin-top: 4px;
  margin-right: 2px;

  &:hover {
    color: var(--neutralDark);
  }
}

.mySeparator {
  border-color: #605e5c; // The border color (darker gray line)
  font-weight: bold;
  font-size: 20px;

  &::before {
    background-color: #000; // Left line (black or dark gray)
    height: 2px;            // Make it thicker if you want
  }

  &::after {
    background-color: #000; // Right line (black or dark gray)
    height: 2px;
  }
}